[submodule "lib/conditional-tokens-market-makers"]
	path = lib/conditional-tokens-market-makers
	url = https://github.com/gnosis/conditional-tokens-market-makers
[submodule "lib/conditional-tokens-contracts"]
	path = lib/conditional-tokens-contracts
	url = https://github.com/gnosis/conditional-tokens-contracts
[submodule "lib/openzeppelin-solidity"]
	path = lib/openzeppelin-solidity
	url = https://github.com/OpenZeppelin/openzeppelin-solidity
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
